*.toml
*.exe
*.csv
.vscode
*.png
*.txt
*.jsonl
contacts.json
contactsEmbed.json
token_discord.json
token_startgg.json
token_challonge.json
.env
docker-compose.yaml
Makefile
*.log
ui/wails.json
build/bin
node_modules
frontend/dist
wails.json
build/README.md
tourneyHelperProject.db
tourneyHelperProject.db-shm
tourneyHelperProject.db-wal
frontend/wailsjs
test.json